@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.video{
    height: 75vh;
}
.logo__img{
    width: 200px;
    height: 200px;
}
.colorGris{
    background-color: #D9D9D9;
}
.colorGrisClaro{
    background-color: #fffcfc;
}
.colorGrismedio{
    background-color: #c7c7c7;
}
.header{
    background-color: rgb(229, 222, 222);
    font-family: 'Libre Baskerville', serif;
}
.nav{
    color: black;
    text-decoration: none;
}
.nav2{
    width: 15%;
}
.main{
    background-color: white;
    font-family: 'Libre Baskerville', serif;
}

.imgEstilo{
    height: 25rem;
}
.cardEstilo{
    width: 25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.divProductos{
    width: 97%;
}
.estiloCarrito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D9D9D9;
    width: 40%;
}
.imgCarrito{
   height: 350px;
   width: 300px;
}
.img-producto{
    width: 550px;
    height: 600px;
}

/*FORM*/
#formulario{
    display: none;
}

.formStyle{
    margin-left: 20%;
    margin-right: 20%;
}
.formStyle1{
    margin-left: 20%;
}
.formStyle2{
    margin-right: 30%;
}
