@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.video{
    height: 75vh;
}
.logo__img{
    width: 200px;
    height: 200px;
}
.colorGris{
    background-color: #D9D9D9;
}
.colorGrisClaro{
    background-color: #fffcfc;
}
.header{
    background-color: #A1DCDC;
    font-family: 'Libre Baskerville', serif;
}
.nav{
    color: black;
    text-decoration: none;
}
.nav2{
    width: 15%;
}
.main{
    background-color: #bfdcdc;
    font-family: 'Libre Baskerville', serif;
}
